* {
    margin: 0; padding: 0;
}

body {
    font: normal 16px/24px 'Helvetica Neue', Helvetica, Arial, freesans, sans-serif;
}

#table-of-contents {
    position: fixed; left: 40px; top: 40px; overflow: hidden; width: 380px;

    ol {
        counter-reset: section;
        list-style-type: none;
    }

    li:before {
        counter-increment: section;
        content: counters(section, '.') '. ';
    }
    
    > ol {
        background: #FFF8DC; border: 1px solid #E0DCBF; padding: 10px;
    }

    a {
        color: #0000ee; text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .active-anchor {
        > a {
            color: #f00;
        }
    }

    .active-child {
        > a {
            &::after { content: ' (active child)'; text-decoration: none; color: #444; }
        }
    }
}

#main {
    max-width: 860px; overflow: hidden; position: relative; margin: 40px 40px 40px 440px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 30px; line-height: 40px; margin: 10px; font-weight: bold; padding-top: 40px;
    }

    h2,
    h3,
    h4 {
        font-size: 20px; line-height: 30px;
    }

    h3,
    h4 { font-size: 16px; line-height: 24px; }

    p {
        margin: 10px;
    }

    .description {
        background: #eee; border: 1px solid #999; padding: 10px; margin: 0 0 20px 0;
    }

    .body {
        background: #fff; padding: 0 40px 40px 40px; border: 1px solid #000;
    }

    .active-heading {
        color: #f00;
    }
}